<div class="col">
  <div class="row">
    <div class="col">Advert space
    </div>
    <div class="col-md-8 col-lg-8">
      <mat-card>
        <h1>WELCOME TO SHARON'S SERVICES</h1>
        <p>We give the best</p>
      </mat-card>
      <mat-grid-list cols="1" rowHeight="1.1:1">
        <mat-grid-tile>
          <div [routerLink]="['/home']" class="mr-auto">
            <img mat-card-image width="50%" src="../../assets/photos/cdc-VRpjDw3WqqI-unsplash.jpg"
              alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">HOME CLEANING</h5>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio,</p>
              <button [routerLink]="['/home']" class="btn btn-danger" mat-raised-button color="accent">Order Now!</button>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div [routerLink]="['/home']" class="mr-auto">
            <img mat-card-image width="50%" src="../../assets/photos/erik-mclean-D-eFjDWxIQs-unsplash.jpg"
              alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">CAR WASH SERVICES</h5>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio,</p>
              <button [routerLink]="['/home']" class="btn btn-danger" mat-raised-button color="accent">Order Now!</button>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div [routerLink]="['/home']" class="mr-auto">
            <img mat-card-image width="50%" src="../../assets/photos/tina-bosse-WSw-taiyZPk-unsplash.jpg"
              alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">LAUNDRY SERVICES</h5>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio,</p>
              <button [routerLink]="['/home']" class="btn btn-danger" mat-raised-button color="accent">Order Now!</button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <h5 class="mt-0">Price List</h5>
      <div class="col">
      <table class="col table table-striped">
        <thead>
          <tr>
            <th scope="col-2">Service</th>
            <th scope="">Price</th>
            <th scope="col-2">Discounts</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Home Cleaning</th>
            <td>2000/room/day</td>
            <td>1 free room/purchase</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>1500/compound/day</td>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Car Wash</th>
            <td>1000/Home Service/car</td>
            <td>Inside and Ouside</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>2000/Home Service/car</td>
            <td>Inside and Ouside and engine</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>1500/Pick-up Service/car</td>
            <td>Inside and Ouside</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>2500/Home Service/car</td>
            <td>Inside and Ouside and engine</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Laundry Service</th>
            <td>Gowns</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>Tops/Shirts/Blouses</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>Bottoms/Trousers/Skirts</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>Bedsheets</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>Blankets</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>Rugs</td>
            <td></td>
          </tr>
        </tbody>
      </table></div>
    </div>
    <div class="col">Advert space
    </div>
  </div>
</div>