<div class="col">
  <div class="row">
    <div class="col">Advert space
    </div>
    <div class="col-md-8 col-lg-8">
      <mat-card>
        <h1>WELCOME TO SHARON'S SERVICES</h1>
        <p>We give the best</p>
      </mat-card>
      <mat-grid-list cols="1" rowHeight="1.1:1">
        <mat-grid-tile>
          <div [routerLink]="['/home']" class="mr-auto">
            <img mat-card-image width="50%" src="../../assets/photos/cdc-VRpjDw3WqqI-unsplash.jpg"
              alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">HOME CLEANING</h5>
              <p>Indoor and Outdoor, New Buildings and Old Homes. We will keep your clean and safe this pandemic</p>
              <button [routerLink]="['/home']" class="btn btn-danger" mat-raised-button color="accent">Order
                Now!</button>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div [routerLink]="['/home']" class="mr-auto">
            <img mat-card-image width="50%" src="../../assets/photos/erik-mclean-D-eFjDWxIQs-unsplash.jpg"
              alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">CAR WASH SERVICES</h5>
              <p>With state of the art equipments, our services are available in or out of the home.</p>
              <button [routerLink]="['/home']" class="btn btn-danger" mat-raised-button color="accent">Order
                Now!</button>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div [routerLink]="['/home']" class="mr-auto">
            <img mat-card-image width="50%" src="../../assets/photos/tina-bosse-WSw-taiyZPk-unsplash.jpg"
              alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">LAUNDRY SERVICES</h5>
              <p>Pick up from your home and always on demand. Always look sharp for the world.</p>
              <button [routerLink]="['/home']" class="btn btn-danger" mat-raised-button color="accent">Order
                Now!</button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <h5 class="mt-0">Price List</h5>
      <div class="col" >
        <table class="col table table-striped">
          <thead>
            <tr>
              <th scope="col-2">Service</th>
              <th scope="">Price</th>
              <th scope="col-2">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Home Cleaning</th>
              <td>2500/room/day</td>
              <td>1 free room/purchase</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>2000/compound/day</td>
              <td></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Car Wash</th>
              <td>1500/Home Service/car</td>
              <td>Inside and Ouside</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>2500/Home Service/car</td>
              <td>Inside and Ouside and engine</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>2000/Pick-up Service/car</td>
              <td>Inside and Ouside</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>3000/Home Service/car</td>
              <td>Inside and Ouside and engine</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Laundry Service</th>
              <td>Gowns</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Tops/Shirts/Blouses</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Bottoms/Trousers/Skirts</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Bedsheets</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Blankets</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Rugs</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <footer class="page-footer font-small unique-color-dark">

        <div style="background-color: transparent">
          <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

              <!-- Grid column -->
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0">Get connected with us on social networks!</h6>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-6 col-lg-7 text-center text-md-right">

                <!-- Facebook -->
                <a class="fb-ic">
                  <i class="fab fa-facebook-f white-text mr-4"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                  <i class="fab fa-twitter white-text mr-4"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                  <i class="fab fa-google-plus-g white-text mr-4"> </i>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                  <i class="fab fa-linkedin-in white-text mr-4"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                  <i class="fab fa-instagram white-text"> </i>
                </a>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row-->

          </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

          <!-- Grid row -->
          <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

              <!-- Content -->
              <h6 class="text-uppercase font-weight-bold">Sharon's Services</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>Here at Sharon's Services we aim to provide the best. Our skilled specialists and state of
                the art equipments have an excellent track record in providing excellent services. Order Now 
                and Thank us later. XOXO
              </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Products</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a [routerLink]="['/home']">Home Cleaning</a>
              </p>
              <p>
                <a [routerLink]="['/home']">Car Wash Services</a>
              </p>
              <p>
                <a [routerLink]="['/home']">Laundry Services</a>
              </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Useful links</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a href="#!">Sharon's Facebook</a>
              </p>
              <p>
                <a href="#!">Sharon's Twitter</a>
              </p>
              <p>
                <a href="#!">Sharon's Insta</a>
              </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Contact</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <i class="fas fa-home mr-3"></i>Choos Estate, Wumba, NG</p>
              <p>
                <i class="fas fa-envelope mr-3"></i> info@example.com</p>
              <p>
                <i class="fas fa-phone mr-3"></i> + 234 816 304 1299</p>
              <p>
                <i class="fas fa-print mr-3"></i> + 234 703 675 0460</p>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href=""> Emycinth Resources Nigeria Limited</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </div>
    <div class="col">Advert space
    </div>
  </div>
</div>