<app-header>
  <form [formGroup]="Register" (ngSubmit)="onSubmit()">
    <div class = "tp-container">
        <mat-form-field appearance = "standard">
          <mat-label>Please Enter Name</mat-label>
           <input matInput placeholder = "John Doe" [formControl]="name" required>
           <mat-error *ngIf="name.invalid">{{getErrorText()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="Phone" required>
          <mat-error *ngIf="Phone.invalid">{{getPhoneError()}}</mat-error>
      </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance = "standard">
          <mat-label>Address</mat-label>
          <textarea matInput [formControl]="address" placeholder = "Please Enter Address for our Services"></textarea>
        </mat-form-field>
       <mat-form-field appearance = "standard">
           <mat-select [formControl]="roooms" placeholder = "How many rooms?">
              <mat-option value = "A">Sitting Room</mat-option>
              <mat-option value = "B">Sitting Room and 1</mat-option>
              <mat-option value = "C">Sitting Room and more</mat-option>    
              <mat-option value = "D">Bed Room and more</mat-option>  
              <mat-option value = "E">Bed Room and 1</mat-option>
              <mat-option value = "F">Bed Room</mat-option>
           </mat-select>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Request!</button>
     </div>
  </form>
</app-header>
