<div id="form" class="col">
   <div class="row justify-content-md-center">
      <div class="col col-lg-2">/div>
      <div class="col-md-8 col-lg-8">
         <form id="form" [formGroup]="Register" (ngSubmit)="onSubmit($event)" #myForm="ngForm">
            <div class="tp-container">
               <mat-form-field appearance="standard">
                  <mat-label>Please Enter Name</mat-label>
                  <input matInput placeholder="John Doe" [formControl]="name" required>
                  <mat-error *ngIf="name.invalid">{{getErrorText()}}</mat-error>
               </mat-form-field>
               <mat-form-field appearance="standard">
                  <mat-label>Please Enter Phone Number</mat-label>
                  <input matInput placeholder="0**********" [formControl]="number" required>
                  <mat-error *ngIf="number.invalid">{{getPhoneError()}}</mat-error>
               </mat-form-field>
               <mat-form-field appearance="standard">
                  <mat-label>Enter your email</mat-label>
                  <input matInput placeholder="pat@example.com" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
               </mat-form-field>
               <mat-form-field appearance="standard">
                  <mat-label>Address</mat-label>
                  <textarea matInput [formControl]="address"
                     placeholder="Please Enter Address for our Services"></textarea>
               </mat-form-field>
               <mat-form-field appearance="standard">
                  <mat-select [formControl]="service" placeholder="Pick a Service" #t>
                     <mat-option value="Home Cleaning">Home Cleaning</mat-option>
                     <mat-option value="Car Wash Services">Car Wash Services</mat-option>
                     <mat-option value="Laundry Services">Laundry Services</mat-option>
                  </mat-select>
               </mat-form-field>
               <div *ngIf="t.value === 'Home Cleaning'">
                  <mat-form-field appearance="standard">
                     <mat-select [formControl]="rooms" placeholder="How many rooms?">
                        <mat-option value="Sitting Room">Sitting Room</mat-option>
                        <mat-option value="Sitting Room and 1">Sitting Room and 1</mat-option>
                        <mat-option value="Sitting Room and more">Sitting Room and more</mat-option>
                        <mat-option value="Bed Room and more">Bed Room and more</mat-option>
                        <mat-option value="Bed Room and 1">Bed Room and 1</mat-option>
                        <mat-option value="Bed Room">Bed Room</mat-option>
                     </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="standard">
                     <mat-select [formControl]="frequency" placeholder="Frequency?">
                        <mat-option value="Daily">Daily</mat-option>
                        <mat-option value="Monthly">Monthly</mat-option>
                     </mat-select>
                  </mat-form-field>
               </div>
               <div *ngIf="t.value === 'Car Wash Services'">
                  <mat-form-field appearance="standard">
                     <mat-select [formControl]="serviceStyle" placeholder="Home or Away?">
                        <mat-option value="Home Wash">Home Wash</mat-option>
                        <mat-option value="Take Away">Take Away</mat-option>
                     </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="standard">
                     <mat-select [formControl]="frequency" placeholder="Frequency?">
                        <mat-option value="Daily">Daily</mat-option>
                        <mat-option value="Monthly">Monthly</mat-option>
                     </mat-select>
                  </mat-form-field>
               </div>
               <span class="col">
                  <input type="checkbox" (change)="changeCheck($event)">Do you agree with our terms.
               </span>

               <button class="btn btn-primary" mat-raised-button color="accent" type="submit"
                  (click)="snackBarConfirmation()" [disabled]="disabledAgreement" [routerLink]="['/about']" >Request!</button>
            </div>
         </form>
      </div>
      <div class="col col-lg-2"></div>
   </div>
</div>